<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/css/jass.css">
    <link rel="stylesheet" href="/css/style.css">
    <title>AlishaPal</title>
</head>
    <body>
        <h1>Alisha Pal</h1>
        <div>
        <button id ="about-me">About Me</button>
        <button id = "work">Work</button>
        <button id = "contact-me">Contact Me</button>
        <button id = "resume">Resume</button>
        </div>
      {{{body}}}

    </body>
</html>