<div class="container">
  <div class="row">
    <div class="col">
     
  <img
    src="https://github.com/apal96/alishaPal-Portfolio/blob/main/Images/0C48D4BF-BD93-4B13-B123-A8A5E0DF624D.jpg?raw=true"
    alt="Alisha at the park "
    width="100px"
    height="100px"
    id = "profilepic"/>
    </div>
  </div>
    <div class="row">
    <div class="col">
    <p id = "about">About Me</p>
    </div>
    </div>
     <div class="row justify-content-center">
    <div class="col-4">
      <p>I am currently enrolled in UC Berkerley</p>
    </div>
     </div>

  <div class="row row-cols-4">
    <div class="col">
     <div class="card" style="width: 18rem;">
         <a href = "https://pacific-caverns-03345.herokuapp.com/" target="_blank">
  <img src="https://github.com/apal96/alishaPortfolio/blob/main/views/images/reciplease.png?raw=true" class="card-img-top" alt="..."  width="100px"
    height="150px">
  </a>
  <div class="card-body">
    <p class="card-text">Reciplease</p>
  </div>
</div>
    </div>
     <div class="col">
      <div class="card" style="width: 18rem;">
          <a href = "https://apal96.github.io/magnificent-music-search/" target="_blank">
  <img src="https://raw.githubusercontent.com/apal96/alishaPortfolio/main/views/images/musicsearch.png" class="card-img-top" alt="..." width="100px"
    height="150px">
  </a>
  <div class="card-body">
    <p class="card-text">Magnificent Music Search</p>
  </div>
    </div>
    </div>
     <div class="col">
     <div class="card" style="width: 18rem;">
         <a href = "https://apal96.github.io/password-generator/" target="_blank">
  <img src="https://github.com/apal96/alishaPortfolio/blob/main/views/images/password.png?raw=true" class="card-img-top" alt="..." width="100px"
    height="150px">
  </a>
  <div class="card-body">
    <p class="card-text">Password Generator</p>
  </div>
    </div>
     </div>
     <div class="col">
      <div class="card" style="width: 18rem;">
          <a href = "https://apal96.github.io/weather-dashboard/" target="_blank">
  <img src="https://raw.githubusercontent.com/apal96/weather-dashboard/main/Screen%20Shot%202021-07-06%20at%2010.57.03%20PM.png" class="card-img-top" alt="..." width="100px"
    height="150px">
  </a>
  <div class="card-body">
    <p class="card-text">Weather App</p>
  </div>
    </div>
  </div>
</div>




