<div class="container">
  <div class="row">
    <div class="col">
     
  <img
    src="https://github.com/apal96/alishaPortfolio/blob/main/images/IMG_4727.jpeg?raw=true"
    alt="Alisha  "
    width="200px"
    height="200px"
    id = "profilepic"/>
    </div>
  </div>
    <div class="row">
    <div class="col">
    <p id = "about">About Me</p>
    </div>
    </div>
     <div class="row justify-content-center">
    <div class="col-4">
      <p>I am currently enrolled in UC Berkerley</p>
    </div>
     </div>
{{>projects}}

</div>




