<div class="container">
  <div class="row">
    <div class="col">
     
  <img
    src="https://github.com/apal96/alishaPal-Portfolio/blob/main/Images/0C48D4BF-BD93-4B13-B123-A8A5E0DF624D.jpg?raw=true"
    alt="Alisha at the park "
    width="100px"
    height="100px"/>
    </div>
  </div>
    <div id = "bio" class="row">
    <div class="col">
    <p>About Me</p>
    </div>
    </div>

  <div class="row row-cols-4">
    <div class="col">
     Project section
    </div>
     <div class="col">
     Project section
    </div>
     <div class="col">
     Project section
    </div>
     <div class="col">
     Project section
    </div>
  </div>
</div>


